@font-face {
  font-family: Monofonto;
  src: url(fonts/MONOFONT.TTF);
}

.menu-boton input[type="checkbox"]{
	display: none;
	
}



label{
	cursor: pointer;
	display: flex;
	position: fixed;
	top: 30px;
	right: 50px;
	font-size: 20px;
	font-weight: bold;
}


.material-symbols-outlined{
	font-size: 40px;
	transform: translateX(15px);
	font-weight: 600;



}
.menu-texto{
	font-family: monospace;
	visibility: hidden;
}


.icon-menu{
	z-index: 4;
	display: flex;
}

.icon-menu > div{
		transform: translateY(10px);

}

.icon-menu >.material-icons{
	font-size: 40px;
	text-align: right;
	transform: translatex(15px);
}

.logo{
	visibility: visible;
	position: fixed;
	top: 20px;
	left: 20px;
	height: 75px;
	width: 75px;
	z-index: 4;
}



.menu{
	font-family: monospace;
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: all 0.5s;
	transform: translatey(-100%);
	z-index: 3;

}
.inicio{
	margin-top: 150px;
	position: absolute;
	right: 75px;
}

.menu a{	
	width: 200px;
	text-align: right;
	font-size: 25px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 15px;
}

.menu a:hover{
	color: #FFA13B;
	transform: translatex(-20px);
}

#menu-bar:checked~ .menu{
	transform: translatey(0%);
	visibility: visible;
	position: fixed;
}

#menu-bar:checked~ label{
	color: #fff;
}





.container-slider{
	z-index: 0;
}
@media (min-width:  450px){
	.menu-texto{
	visibility: visible;
}
}

@media (min-width: 600px){
	
	label{
	right: 75px;
	}

	.inicio{

	right: 100px;
	}
	
	.menu a{	
		width: 400px;
	font-size: 40px;
	white-space: nowrap;
	}
}